  body{
     color: #40514E;
     margin: 0;
     text-align: center;
     font-family: 'Merriweather', serif;
     }

 
   h1{
   margin: 50px auto 0 auto;
 font-family: 'Sacramento', cursive;
 font-size: 562.5%;
 color: #66BFBF;
   }
h2{
font-family: 'Montserrat', sans-serif;
font-size: 40px;
color: #66BFBF;
padding-bottom: 10px;
}
h3{
font-family: 'Montserrat', sans-serif;
color: #66BFBF;
font-size: 20px;
}
p{
font-family: 'Montserrat', sans-serif;
}
.whatIam{
color: #66BFBF;
font-size: 20px;
}
 .top-container{
      background-color: #E4F9F5;
      position: relative;
     padding-top: 110px;
   }
.middle-container{
margin: 100px 0;
}
.bottom-container{
background-color: #66BFBF;
padding: 50px 0 20px;
}
.skill-row{
width: 50%;
margin: 100px auto 100px auto;
text-align: left;

}
 .pro{
    text-decoration: underline;
}
p{
line-height: 2;
}
.bottom-cloud{
position: absolute;
left: 350px;
bottom: 300px;
}
.top-cloud{
position: absolute;
right: 400px;
top: 40px;
}
.navbar{
text-align: center;
padding: 10px 20px;
margin: 0;
width: 1540px;
}
a{
color: #11999E;
font-family: 'Montserrat', sans-serif;
margin: 10px 20px;
text-decoration: none;
} 
a:hover{
  color: powderblue;
}
.piano1{
width: 25%;
float: left;
padding: 30px;
}
.comp1{
width:25%;
float: right;
padding: 30px;
}
hr{
       color: #F0F0F0;
       border-style: none;
       border-top-style: dotted;
       border-color: #F0F0F0;
       border-width: 7px;
       width: 5%;
      margin: 100px auto;
      }
.Me1{
width: 10%;
}
.contact-message{
width: 40%;
margin: 40px auto 60px;
}
.intro{
width: 30%;
 margin: auto;

}
.copyright{
color: #EAF6F6;

padding: 20px 0;
}
.myButton {
	background-color:#7892c2;
	border-radius:8px;
	border:2px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Montserrat', sans-serif;
	font-size:23px;
	padding:12px 26px;
	text-decoration:none;
	text-shadow:0px 1px 9px #283966;
}
.myButton:hover {
	background-color:#476e9e;
}
.myButton:active {
	position:relative;
	top:1px;
}
.copyright:hover{
color: hotpink;
}
        